// colors
$primaryColor: #ffb202;
$whiteColor: #ffffff;
$pinkColor: #df54ff;
$purpleColor: #4e169f;
$blueColor: #0029c2;

// font-family
$staat-font: "Staatliches", sans-serif;
$roboto-font: "Roboto", sans-serif;
