@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
  background: #1c1c1c !important;
  color: $white !important;
  font-family: "Roboto", sans-serif !important;
}

// Form

.form-control {
  border-radius: 30px !important;
  font-weight: 600 !important;
  padding: 2px 20px !important;
  height: 46px;

  &:focus {
    border: 1px solid $primary !important;
    box-shadow: none !important;
  }
}

// Button

.btn {
  font-weight: 500 !important;
  color: $black !important;
  border-radius: 30px !important;
  height: 46px !important;
  padding: 5px 30px !important;
}

.btn-warning {
  background: $primary !important;
  border: 1px solid $primary !important;

  &:hover {
    background-color: $secondary !important;
    border: 1px solid $secondary !important;
    color: $white !important;
  }
}

.btn-light {
  background: $white !important;
  border: 1px solid $white !important;
}

// Text

.text-primary {
  color: $primary !important;
}

.bg-dark {
  background: $black;
}

.rounded-xl {
  border-radius: 16px;
}
