@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
  background: #1c1c1c !important;
  color: $white !important;
  font-family: "Roboto", sans-serif !important;
}

// Form

.form-control {
  border-radius: 30px !important;
  font-weight: 600 !important;
  padding: 2px 20px !important;
  height: 46px;

  &:focus {
    border: 1px solid $primary !important;
    box-shadow: none !important;
  }
}

// Button

.btn {
  font-weight: 500 !important;
  color: $black !important;
  border-radius: 30px !important;
  height: 46px !important;
  padding: 5px 30px !important;
}

.btn-warning {
  background: $primary !important;
  border: 1px solid $primary !important;

  &:hover {
    background-color: $secondary !important;
    border: 1px solid $secondary !important;
    color: $white !important;
  }
}

.btn-light {
  background: $white !important;
  border: 1px solid $white !important;
}

.btn-lg-warning {
  background-color: $primary;
  padding: 15px 40px;
  border-radius: 30px;
  font-size: 24px;
  font-weight: 500;
  color: $black;
  border: 2px solid $primary;
  &:hover {
    background: transparent;
    border: 2px solid $primary;
    color: $primary;
  }
}

.btn-md-warning {
  @include fontstyle(22px, 600, $black);
  background: $primary;
  border: 1px solid $primary;
  padding: 10px 80px;
  margin-top: 60px !important;
  display: flex;
  margin: auto;
  border-radius: 30px;
  box-shadow: 3px 3px 0px 0px #ffb202;
  position: relative;
  z-index: 100;
  transition: all 0.4s;
  &:hover {
    background-color: transparent;
    border: 1px solid $primary;
    color: $primary;
  }
}

.btn-outline-shadow {
  border: 1px solid $primary;
  padding: 10px 45px;
  text-decoration: none;
  color: $primary;
  border-radius: 25px;
  font-weight: 500;
  color: $primary;
  font-size: 24px;
  box-shadow: 3px 3px 0px 0px #ffb202;
  position: relative;
  z-index: 1000;
  transition: all 0.4s;
  &:hover {
    background-color: $primary;
    color: $black;
  }
}

.btn-outline-normal {
  @include fontstyle(22px, 600, $black);
  background: transparent;
  color: $primary;
  border: 1px solid $primary;
  padding: 10px 80px;
  margin-top: 40px !important;
  display: flex;
  margin: auto;
  border-radius: 30px;
  position: relative;
  z-index: 100;
  transition: all 0.4s;
  width: fit-content;
  &:hover {
    background-color: $primary;
    border: 1px solid $primary;
    color: white;
  }
}

// Text

.text-primary {
  color: $primary !important;
}

.bg-dark {
  background: $black;
}

.rounded-xl {
  border-radius: 16px;
}
