header {
}
.navbar {
  background-image: url("/articles/bg.png");
  transition: all 0.2s;
  width: 100%;
  background-size: cover;
  &.scrolled {
    background: $white;

    .nav-item {
      .nav-link {
        color: $primary;
      }
    }
  }

  @include devices(md) {
    position: fixed;
    // background: $white;
    width: 100%;
    z-index: 999;
  }
  .navbar-toggler {
    color: $primary;
    padding: 0;
    position: absolute;
    @media screen and (max-width: 992px) {
      img {
        width: 70px;
      }
    }

    &:hover {
      outline: none;
      box-shadow: none;
    }
  }

  .icon-style {
    span {
      background: #ffffffcc;
      padding: 4px;
      border-radius: 6px;
      width: 35px;
      height: 35px;
      display: inline-block;
      text-align: center;
    }
    img {
      cursor: pointer;
    }
  }

  .ant-btn {
    height: 45px;
  }

  .navbar-brand {
    @media screen and (max-width: 992px) {
      display: flex;
      justify-content: center;
      margin: auto;
    }
    img {
      object-fit: contain;
    }
  }

  .navbar-nav {
    margin: 0;
    align-items: center;
    @media screen and (max-width: 992px) {
      position: absolute;
      background-color: #2a2634;
      border-bottom-right-radius: 10px;
      height: 60vh;
      top: 104px;
      box-shadow: 0px 4px 4px 0px #00000040;
      left: 0;
      width: 350px;
      .nav-item {
        padding: 6px 0;
        margin-right: auto;
        margin-left: 20px;
        a{
          color: $white !important;
          font-family: $font-staat !important;
          letter-spacing: 2.5px;
          font-size: 18px;
        }
      }
    }

    li {
      padding: 0 15px;

      @include devices(xl) {
        padding: 0 10px;
      }

      @include devices(md) {
        padding: 0 6px;
      }

      &:last-child {
        padding-right: 0;
      }

      a {
        @include fontstyle(600, 18px, $primary);
        letter-spacing: 0.5px;
        font-family: "Barlow", sans-serif !important;
        text-transform: capitalize;
        color: $primary !important;

        &:hover {
          color: $secondary;
        }

        @include devices(xl) {
          font-size: 16px;
        }
        @include devices(sm) {
          font-size: 16px;
        }
      }

      a.show {
        color: $secondary !important;
      }

      .hero-btn {
        background-color: $primary;
        padding: 8px 30px;
        border-radius: 30px;
        font-size: 16px;
        font-weight: 500;
        color: $black;
        @include devices(xl) {
          padding: 8px 9px;
          font-size: 13px;
        }
        @include devices(sm) {
          padding: 8px 30px;
          font-size: 16px;
        }
      }
      .hero-btn2 {
        background-color: transparent;
        border: 1px solid #938f99;
        padding: 8px 20px !important;
        border-radius: 30px;
        font-size: 16px;
        font-weight: 500;
        color: $primary;
        @include devices(xl) {
          font-size: 12px;
        }
        @include devices(sm) {
          font-size: 16px;
        }
      }
      .bars {
        width: 80px !important;
        cursor: pointer;
        @include devices(xl) {
          width: 60px !important;
        }
      }
    }

    .dropdown-menu {
      background-color: #2a2634;
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
      padding: 3px 0 !important;
      margin-top: 32px !important;
      border: none !important;
      .dropdown-item {
        color: $white !important;
        padding: 10px 0 !important;
        width: 180px;
        text-align: center;
        font-size: 15px;
        padding: 12px 0 !important;
        &:hover {
          color: $primary !important;
          background: none;
        }
      }
    }

    .resister-btn {
      .dropdown-menu {
        background-color: #2a2634;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        padding: 3px 0 !important;
        margin-top: 31px !important;
        border: none !important;
        .dropdown-item {
          color: $white !important;
          padding: 10px 0 !important;
          width: 200px;
          text-align: center;
          font-size: 15px;
          padding: 12px 0 !important;
          &:hover {
            color: $primary !important;
            background: none;
          }
        }
      }
    }
  }
}
