.articles {
  background-image: url("/articles/bg.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0 50px 0;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .articles-content {
    h2 {
      @include fontstyle(72px, 400, #04dde5);
      text-align: center;
      padding-bottom: 25px;
      font-family: $font-staat;
      letter-spacing: 2.5px;
      position: relative;
      z-index: 100;
    }

    .article-card {
      background-color: #1c1c1c;
      padding: 20px 20px 32px 20px;
      border-radius: 30px;
      position: relative;
      z-index: 1000;
      img {
        width: 100%;
        border-radius: 30px;
        position: relative;
        z-index: 100;
      }

      h3 {
        padding: 10px 0;
        color: $white;
        font-size: 36px;
        font-weight: 700;
      }

      p {
        padding-bottom: 50px;
        padding-right: 55px;
        color: $white;
        font-weight: 500;
        font-size: 18px;
      }

      a {
        border: 1px solid $primary;
        padding: 10px 45px;
        text-decoration: none;
        color: $primary;
        border-radius: 25px;
        font-weight: 500;
        color: $white;
        font-size: 24px;
        box-shadow: 3px 3px 0px 0px #ffb202;
        position: relative;
        z-index: 1000;
        transition: all 0.4s;
        &:hover {
          background-color: $primary;
        }
      }
      &::after {
        content: "";
        background-image: url("/articles/top.png");
        position: absolute;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top-left-radius: 30px;
      }
      .bottom-card {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 60%;
      }
    }

    .btn-blog {
      @include fontstyle(22px, 600, $black);
      background: $primary;
      border: 1px solid $primary;
      padding: 10px 80px;
      margin-top: 60px !important;
      display: flex;
      margin: auto;
      border-radius: 30px;
      box-shadow: 3px 3px 0px 0px #ffb202;
      position: relative;
      z-index: 100;
      transition: all 0.4s;
      &:hover {
        background-color: transparent;
        border: 1px solid $primary;
        color: $primary;
      }
    }
  }
}
