.articles {
  background-image: url("/articles/bg1.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  padding: 80px 0;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .articles-content {
    h2 {
      @include fontstyle(56px, 600, #04dde5);
      text-align: center;
      padding-bottom: 50px;
      position: relative;
      z-index: 100;
    }

    .article-card {
      background-color: #1c1c1c;
      padding: 20px 20px 32px 20px;
      border-radius: 30px;
      position: relative;
      z-index: 100;
      img {
        width: 100%;
        border-radius: 30px;
        position: relative;
        z-index: 100;
      }

      h3 {
        padding: 10px 0;
        color: $white;
      }

      p {
        padding-bottom: 50px;
        padding-right: 55px;
        color: $white;
      }

      a {
        border: 1px solid $primary;
        padding: 10px 40px;
        text-decoration: none;
        color: $primary;
        border-radius: 25px;
        font-weight: 600;
        color: $white;
        font-size: 16px;
        box-shadow: 3px 3px 0px 0px #ffb202;
      }
      &::after {
        content: "";
        background-image: url("/articles/top.png");
        position: absolute;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top-left-radius: 30px;
      }
      &::before {
        content: "";
        background-image: url("/articles/bottom.png");
        position: absolute;
        background-repeat: no-repeat;
        bottom: -983px;
        right: -116px;
        width: 100%;
        height: 100%;
      }
    }
  }
}
