.hero-section {
  padding: 0 50px;
  background-image: url("/hero-bg.png");
  background-size: cover;
  height: 1020px;
  position: relative;

  @include devices(md) {
    height: 850px;
  }

  .hero-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 80%;
  }
}
