.liveTournament {
  background-image: url("/live-tournments/bg.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  padding: 60px 0;
  h2 {
    @include fontstyle(72px, 400, $white);
    text-transform: uppercase;
    font-family: $font-staat;
    letter-spacing: 3px;
    position: relative;
    width: fit-content;
    span {
      &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: #ff005c;
        border-radius: 50%;
        right: -40px;
        transform: translate(-50%, -50%);
        top: 50%;
      }
    }
  }
  h3 {
    @include fontstyle(68px, 400, $white);
    text-transform: uppercase;
    font-family: $font-staat;
    letter-spacing: 3px;
    position: relative;
    width: fit-content;
  }
  p {
    font-size: 18px;
    font-weight: 700;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .button-banner {
    box-shadow: 0px 7px 2.1px 0px #000000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-color: $primary;
      width: 15px;
      height: 100%;
      left: 0;
      bottom: 0;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
    h3 {
      @include fontstyle(60px, 400, $white);
      text-transform: uppercase;
      padding: 0px 40px;
      letter-spacing: 2.5px;
      font-family: $font-staat;
    }
  }
}
