.our-team {
  padding: 80px 0;
  text-align: center;

  @include devices(sm) {
    padding: 60px 0;
  }

  .ant-card {
    border-radius: 16px;
    margin-bottom: 20px;
    box-shadow: 0 0 8px rgb(62 69 78 / 12%);

    .ant-card-body {
      padding: 30px 15px;
    }

    img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
    }

    h5 {
      @include fontstyle(600, 18px, $black);
      margin-top: 15px;
      margin-bottom: 5px;
    }

    p {
      @include fontstyle(400, 16px, $gray);
      margin-bottom: 0;
    }
  }

  a {
    font-weight: 600;

    &:hover {
      color: $secondary;
    }
  }
}
