.top-ranking {
  margin: 100px 0;
  h2 {
    @include fontstyle(72px, 400, $primary);
    text-align: center;
    text-transform: uppercase;
    font-family: $font-staat;
    letter-spacing: 2.5px;
  }
  .ranking-details {
    background-color: #201d22;
    padding: 30px 30px;
    border-radius: 30px;
    margin: 70px 0;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url("/ranking/top.png");
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      border-top-left-radius: 30px;
    }

    .profile {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $primary;
      width: fit-content;
      height: 95.5%;
      margin-left: auto;
      margin-top: 35px;
      border-radius: 40px;
      position: relative;
      z-index: 10;

      .serial-no {
        position: absolute;
        background-color: $primary;
        z-index: 99;
        left: -56px;
        top: -30px;
        display: flex;
        gap: 10px;
        width: 120px;
        height: 120px;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
        h2 {
          @include fontstyle(80px, 400, $white);
          font-family: $font-staat;
          letter-spacing: 2.5px;
        }
      }

      .img-box {
        width: 100%;
        height: 400px;
        position: relative;
        img {
          width: 100%;
          height: 100%;
        }
      }

      .person-detail {
        h3 {
          font-size: 30px;
          padding: 5px 0;
          font-weight: 400;
          font-family: $font-staat;
          letter-spacing: 2.5px;
          text-transform: uppercase;
          text-shadow: 3px 1px 8px $black;
          margin-top: 15px;
        }
        p {
          font-size: 18px;
          font-weight: 500;
          text-shadow: 3px 1px 8px $black;
          margin: 0;
        }
        h5 {
          color: $black;
          font-style: italic;
          letter-spacing: 1px;
          font-size: 29px;
          font-weight: 900;
          text-shadow: 3px 1px 8px $black;
          margin: 0;
        }
        h6 {
          @include fontstyle(22px, 700, $white);
          text-shadow: 3px 1px 8px $black;
          margin: 0;
          padding-top: 15px;
        }
        .badge-img {
          margin: 20px 0;
          width: 100px;
        }
        .star {
          width: 40px;
        }
      }
    }

    .rankings-card {
      margin-top: 112px;
      position: relative;
      z-index: 10;

      .player-card {
        background-color: $pink;
        display: flex;
        align-items: center;
        gap: 20px;
        position: relative;
        padding: 18px 40px;
        border-top-right-radius: 0px !important;
        border-radius: 30px;

        .player-name {
          position: absolute;
          transform: translate(-50%, -50%);
          background-color: #363131;
          right: -230px;
          top: -24px;
          padding: 6px 24px;
          width: 57%;
          border-top-right-radius: 20px;
          h3 {
            text-transform: uppercase;
            font-family: $font-staat;
            letter-spacing: 2.5px;
            font-size: 30px;
            font-weight: 400;
            margin: 0;
          }
        }

        .serial-no {
          display: flex;
          gap: 10px;
          h2 {
            @include fontstyle(80px, 400, $white);
            font-family: $font-staat;
          }
        }

        .user-profile {
          background-color: red;
          width: 200px;

          img {
            width: 200px;
            position: absolute;
            bottom: 0;
          }
        }

        .player-info {
          h3 {
            font-size: 18px;
            font-weight: 500;
            &:nth-child(2) {
              font-size: 29px;
              color: $black;
              font-weight: 700;
              font-style: italic;
            }
            &:nth-child(3) {
              font-size: 22px;
              color: $white;
            }
          }
        }

        .ratings {
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-left: auto;
          .badge-img {
            width: 50%;
            margin-bottom: 10px;
          }
          .stars {
            img {
              // width: 30px;
            }
          }
        }
      }

      .mid {
        margin: 110px 0;
      }
    }

    .bottom-img {
      position: absolute;
      right: 0;
      bottom: 0;
      border-bottom-right-radius: 30px;
    }
  }

  a {
    @include fontstyle(22px, 600, $black);
    background: transparent;
    color: $primary;
    border: 1px solid $primary;
    padding: 10px 80px;
    margin-top: 40px !important;
    display: flex;
    margin: auto;
    border-radius: 30px;
    position: relative;
    z-index: 100;
    transition: all 0.4s;
    width: fit-content;
    &:hover {
      background-color: $primary;
      border: 1px solid $primary;
      color: white;
    }
  }
}
