a {
  color: white !important;
}

.top-ranking {
  margin: 60px 0;

  h2 {
    @include fontstyle(72px, 400, $primary);
    text-align: center;
    text-transform: uppercase;
    font-family: $font-staat;
    letter-spacing: 2.5px;
  }

  .ranking-details {
    background-color: #201d22;
    padding: 30px 30px;
    border-radius: 30px;
    margin: 40px 0;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url("/ranking/top.png");
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      border-top-left-radius: 30px;
    }

    .profile {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $primary;
      width: fit-content;
      height: 95.5%;
      margin-left: auto;
      margin-top: 35px;
      border-radius: 40px;
      position: relative;
      z-index: 10;

      .serial-no {
        position: absolute;
        background-color: $primary;
        z-index: 99;
        left: -56px;
        top: -30px;
        display: flex;
        gap: 10px;
        width: 120px;
        height: 120px;
        border-radius: 15px;
        justify-content: center;
        align-items: center;

        h2 {
          @include fontstyle(80px, 400, $white);
          font-family: $font-staat;
          letter-spacing: 2.5px;
        }
      }

      .img-box {
        width: 100%;
        height: 400px;
        position: relative;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .person-detail {
        h3 {
          font-size: 30px;
          padding: 5px 0;
          font-weight: 400;
          font-family: $font-staat;
          letter-spacing: 2.5px;
          text-transform: uppercase;
          text-shadow: 3px 1px 8px $black;
          margin-top: 15px;
        }

        p {
          font-size: 18px;
          font-weight: 500;
          text-shadow: 3px 1px 8px $black;
          margin: 0;
        }

        h5 {
          color: $black;
          font-style: italic;
          letter-spacing: 1px;
          font-size: 29px;
          font-weight: 900;
          text-shadow: 3px 1px 8px $black;
          margin: 0;
        }

        h6 {
          @include fontstyle(22px, 700, $white);
          text-shadow: 3px 1px 8px $black;
          margin: 0;
          padding-top: 15px;
        }

        .badge-img {
          margin: 20px 0;
          width: 100px;
        }

        .star {
          width: 40px;
        }
      }
    }

    .rankings-card {
      margin-top: 112px;
      position: relative;
      z-index: 10;

      .player-card {
        background-color: $pink;
        display: flex;
        align-items: center;
        gap: 20px;
        position: relative;
        padding: 18px 40px;
        border-top-right-radius: 0px !important;
        border-radius: 30px;

        .player-name {
          position: absolute;
          transform: translate(-50%, -50%);
          background-color: #363131;
          right: -230px;
          top: -24px;
          padding: 6px 24px;
          width: 57%;
          border-top-right-radius: 20px;

          h3 {
            text-transform: uppercase;
            font-family: $font-staat;
            letter-spacing: 2.5px;
            font-size: 30px;
            font-weight: 400;
            margin: 0;
          }
        }

        .serial-no {
          display: flex;
          gap: 10px;

          h2 {
            @include fontstyle(80px, 400, $white);
            font-family: $font-staat;
          }
        }

        .user-profile {
          background-color: red;
          width: 200px;

          img {
            width: 200px;
            position: absolute;
            bottom: 0;
          }
        }

        .player-info {
          h3 {
            font-size: 18px;
            font-weight: 500;

            &:nth-child(2) {
              font-size: 29px;
              color: $black;
              font-weight: 700;
              font-style: italic;
            }

            &:nth-child(3) {
              font-size: 22px;
              color: $white;
            }
          }
        }

        .ratings {
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-left: auto;

          .badge-img {
            width: 50%;
            margin-bottom: 10px;
          }
        }
      }

      .mid {
        margin: 110px 0;
      }
    }

    .bottom-img {
      position: absolute;
      right: 0;
      bottom: 0;
      border-bottom-right-radius: 30px;
    }
  }
}

//for mobile

.top-ranking-mobile {
  background-color: #363131;
  width: 90%;
  margin: auto;
  border-radius: 15px;
  padding: 20px 0px 36px 0px;
  margin-bottom: 50px;
  h2 {
    @include fontstyle(52px, 400, $primary);
    text-align: center;
    text-transform: uppercase;
    font-family: $font-staat;
    letter-spacing: 2.5px;
  }
  .mob-profile {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary;
    width: 70%;
    height: 100%;
    margin: auto;
    margin-top: 35px;
    border-radius: 56px;
    position: relative;
    z-index: 10;
    @media screen and (max-width: 576px) {
      width: 90%;
      padding-bottom: 10px;
      border-radius: 15px;
      margin-top: 10px;
    }

    .serial-no {
      position: absolute;
      background-color: $primary;
      z-index: 99;
      left: -56px;
      top: -30px;
      display: flex;
      gap: 10px;
      width: 100px;
      height: 100px;
      border-radius: 15px;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 576px) {
        top: 10px;
        left: 15px;
      }
      @media screen and (max-width: 375px) {
        top: 8px;
        left: 8px;
      }

      h2 {
        @include fontstyle(60px, 400, $white);
        font-family: $font-staat;
        letter-spacing: 2.5px;
      }
    }

    .img-box {
      width: 100%;
      height: 400px;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
      }

      &::after {
        content: "";
        position: absolute;
        border: 4px solid $primary;
        width: 90%;
        height: 90%;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        border-radius: 15px;
      }
    }

    .person-detail {
      @media screen and (max-width: 968px) {
        width: 90%;
      }
      h3 {
        font-size: 30px;
        padding: 5px 0;
        font-weight: 400;
        font-family: $font-staat;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        text-shadow: 3px 1px 8px $black;
        margin-top: 15px;
      }

      .left {
        text-align: left;
      }
      p {
        font-size: 18px;
        font-weight: 500;
        text-shadow: 3px 1px 8px $black;
        margin: 0;
        @media screen and (max-width: 576px) {
          font-size: 16px;
        }
      }

      h5 {
        color: $black;
        font-style: italic;
        letter-spacing: 1px;
        font-size: 29px;
        font-weight: 900;
        text-shadow: 3px 1px 8px $black;
        margin: 0;
        @media screen and (max-width: 576px) {
          font-size: 24px;
        }
      }

      h6 {
        @include fontstyle(22px, 700, $white);
        text-shadow: 3px 1px 8px $black;
        margin: 0;
        padding-top: 15px;
        @media screen and (max-width: 576px) {
          font-size: 19px;
          padding-top: 5px;
        }
      }

      .badge-img {
        margin: 20px 0;
        width: 100px;
        @media screen and (max-width: 968px) {
          width: 40px;
          margin: 6px 0;
        }
      }

      .star {
        width: 40px;
        @media screen and (max-width: 968px) {
          width: 20px;
        }
      }
    }

    .profile-details {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  a {
    padding: 10px 30px;
    font-size: 20px;
    margin-bottom: 70px;
    @media screen and (max-width: 576px) {
      display: none;
    }
  }
  .react-multi-carousel-track {
    margin-bottom: 70px !important;
  }
  .react-multi-carousel-dot-list {
    gap: 30px !important;
  }
  .react-multi-carousel-dot button {
    border: none !important;
    background-color: #938f99 !important;
    width: 16px !important;
    height: 16px !important;
  }
  .react-multi-carousel-dot--active button {
    background-color: $primary !important;
  }
}
