$white: #fff;
$black: #1c1c1c;
$primary: #ffb202;
$secondary: #04dde5;
$pink: #df54ff;
$purple: #4e169f;
$blue: #0029c2;
$success: #22ba43;
$danger: #ba2222;
$gray: #363131;

// font-family
$font-staat: "Staatliches", sans-serif;
$font-roboto: "Roboto", sans-serif;
