.banned-cards {
  background-image: url("/banned-cards/bg.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  padding: 55px 0;

  h1 {
    @include fontstyle(80px, 400, $secondary);
    font-family: $font-staat;
    letter-spacing: 2.5px;
    text-align: center;
    padding-bottom: 10px;
  }
}

.banned-cards-tab {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
}
.ant-tabs .ant-tabs-tab {
  font-size: 16px;
  font-weight: 500;
  color: $primary;
  cursor: pointer;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: $black !important;
  background-color: $primary;
  padding: 8px 20px !important;
  border-radius: 20px !important;
  border: none !important;
  font-weight: 500 !important;
  font-size: 16px !important;

  border: none !important;
}
.ant-tabs-top > .ant-tabs-nav::before {
  border: none !important;
}
.ant-tabs .ant-tabs-ink-bar {
  border: none !important;
}

.search-field {
  width: 55%;
  margin-bottom: 50px !important;
  margin: auto;
  position: relative;
  .ant-select-selector {
    padding: 23px 60px 23px 55px !important;
    border-radius: 30px !important;
    border: none !important;
    input {
      padding-left: 45px !important;
    }
    &:focus {
      border: none !important;
    }
  }
  .ant-select-selection-placeholder {
    font-size: 18px !important;
    color: #6666 !important;
    font-weight: 700 !important;
  }
  .search-icon {
    position: absolute;
    color: #6666 !important;
    font-weight: 700 !important;
    z-index: 100;
    font-size: 28px;
    top: 11px;
    left: 18px;
  }
}

.all-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 375px) {
    grid-template-columns: repeat(1, 1fr);
  }
  .single-card {
    width: 80%;
    margin: auto;
    img {
      width: 100%;
      margin-bottom: 20px;
      border-radius: 10px;
    }
    p {
      margin: 0;
      padding: 6px 0;
      @include fontstyle(14px, 500, $white);
    }
  }
}
