.banned-cards-sheet {
  background-image: url("/banned-cards/bg.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  padding: 55px 0 0 0;

  h1 {
    @include fontstyle(80px, 400, $secondary);
    font-family: $font-staat;
    letter-spacing: 2.5px;
    text-align: center;
    padding-bottom: 10px;
  }
  .banned-cards-tab {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;
    .ant-tabs .ant-tabs-tab {
      font-size: 16px;
      font-weight: 500;
      color: $primary;
      cursor: pointer;
    }
    .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: $black !important;
      background-color: $primary;
      padding: 8px 20px !important;
      border-radius: 20px !important;
      border: none !important;
      font-weight: 500 !important;
      font-size: 16px !important;

      border: none !important;
    }
    .ant-tabs-top > .ant-tabs-nav::before {
      border: none !important;
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: red !important;
    }

    .ant-tabs .ant-tabs-ink-bar {
      border: none !important;
    }
  }

  .details {
    width: 80%;
    margin: auto;
    padding-top: 50px;

    img {
      width: 100%;
      border-radius: 30px;
      border: 5px solid $primary;
    }
    .content {
      border: 5px solid $primary;
      border-radius: 30px;
      height: 100%;
      padding: 20px 50px 20px 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .info {
        display: flex;
        gap: 10px;
        :nth-child(1) {
          width: 92px;
          @include fontstyle(16px, 700, $primary);
        }
        :nth-child(2) {
          @include fontstyle(16px, 700, $white);
        }
        p {
          margin: 0;
        }
      }
    }
  }

  .banned-card-slider {
    background-color: $gray;
    margin-top: 40px;
    box-shadow: 0px 0px 98.3px -48px;

    padding: 30px 0;

    h2 {
      @include fontstyle(32px, 500, $primary);
      width: 80%;
      margin: auto;
      padding-bottom: 30px;
    }

    .all-ban-cards {
      .single-card {
        width: 80%;
        margin: auto;
        img {
          width: 100%;
          margin-bottom: 20px;
          border-radius: 10px;
        }
        p {
          margin: 0;
          padding: 6px 0;
          @include fontstyle(14px, 500, $white);
        }
      }
    }
  }
}
