.blog-detail {
  background-image: url("/blog/blog-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 45px;
  padding-bottom: 70px;
  h2 {
    @include fontstyle(80px, 400, $secondary);
    font-family: $font-staat;
    letter-spacing: 2.5px;
    text-align: center;
  }

  .blog-detail-content {
    background-color: $black;
    padding: 80px 200px 150px 200px;
    border-radius: 30px;
    box-shadow: -7px 16px 24.3px 0px #ffffff33;
    width: 90%;
    margin: auto;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url("/blog/top.png");
      width: 370px;
      height: 430px;
      top: 0;
      left: 0;
      border-top-left-radius: 30px;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 80px 0 50px 0;
      z-index: 1000;
    }
    h3 {
      @include fontstyle(36px, 700, $white);
      text-align: center;
      padding-bottom: 40px;
    }
    p {
      @include fontstyle(16px, 500, $white);
      text-align: justify;
      margin: 0;
    }
    .img {
      width: 100%;
      border-radius: 30px;
      margin: 60px 0;
    }
    .bottom {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 370px;
      height: 430px;
      border-bottom-right-radius: 30px;
    }
  }
}

// blogs-lecture-category

.blog-leacture-category {
  margin-top: 100px !important;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;

  h2 {
    @include fontstyle(36px, 400, $primary);
    font-family: $font-staat;
    letter-spacing: 2.5px;
    text-align: left;
    padding-left: 80px;
  }
}
