.blog-page {
  background-image: url("/blog/blog-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0 40px 0;
}

.blog {
  h2 {
    @include fontstyle(80px, 400, $secondary);
    font-family: $font-staat;
    letter-spacing: 2.5px;
    text-align: center;
  }

  .blog-banner {
    background-color: #3b0c56;
    padding: 50px;
    border-radius: 30px;
    box-shadow: -7px 16px 24.3px 0px #ffffff33;
    width: 90%;
    margin: auto;
    @media screen and (max-width: 1200px) {
      width: 100%;
    }
    @media screen and (max-width: 500px) {
      padding: 25px;
    }
    .img {
      width: 100%;
      img {
        width: 100%;
        border-radius: 30px;
      }
    }

    .content {
      h3 {
        @include fontstyle(36px, 700, $white);
        margin: 0;
      }
      p {
        @include fontstyle(18px, 500, $white);
        width: 400px;
        padding: 20px 0;
      }
      a {
        background-color: $primary;
        color: $black;
        padding: 10px 30px;
        font-weight: 500;
        font-size: 16px;
        border-radius: 20px;
      }
    }
  }

  // mobile-view
  .blog-banner-mobile {
    @media screen and (max-width: 576px) {
      margin-top: 28px;
    }
    .img {
      width: 100%;
      height: 100%;
      position: relative;
      img {
        width: 100%;
        height: 500px;
        border-radius: 15px;
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 15px;
        background: rgb(0, 0, 0);
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(42, 38, 52, 1) 100%
        );
      }
      .img-content {
        position: absolute;
        bottom: 0;
        z-index: 100;
        padding: 0 40px 14px 40px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        p {
          @include fontstyle(22px, 700, $white);
          margin: 0;
        }
        a {
          @include fontstyle(18px, 500, #938f99);
          position: relative;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 84px;
            height: 1px;
            background-color: #938f99;
          }
        }
      }
    }
    .carousel-item-padding {
      padding: 0 10px !important;
    }
  }
}

// blogs-category

.blogLectureCategoryClass {
  margin-top: 0px !important;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
}

.blog-category {
  margin-top: 70px !important;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.blog-category::-webkit-scrollbar {
  display: none;
}
.ant-tabs .ant-tabs-tab {
  font-size: 16px;
  font-weight: 500;
  color: $primary;
  cursor: pointer;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: $black !important;
  background-color: $primary;
  padding: 8px 20px !important;
  border-radius: 20px !important;
  border: none !important;
  font-weight: 500 !important;
  font-size: 16px !important;

  border: none !important;
}
.ant-tabs-top > .ant-tabs-nav::before {
  border: none !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: red !important;
}

.ant-tabs-nav .ant-tabs-ink-bar {
  display: none !important;
}
.ant-tabs .ant-tabs-ink-bar {
  border: none !important;
}
.ant-tabs-nav-more {
  color: $primary !important;
}

button {
  background-color: $primary;
  color: $black;
  padding: 8px 20px;
  border-radius: 20px;
  border: none;
  font-weight: 500;
  font-size: 16px;
}

.category-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 115px;
  column-gap: 40px;
  margin-bottom: 100px;
  margin-top: 40px;
  height: auto;

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  .category {
    position: relative;
    img {
      width: 100%;
      height: 330px;
      object-fit: cover;
      border-radius: 30px;
    }
    .content {
      background-color: $white;
      color: $black;
      padding: 20px 30px;
      border-radius: 30px;
      position: absolute;
      top: 220px;
      span {
        font-size: 16px;
        font-weight: 500;
        box-shadow: 0px 4px 4px 0px #00000040;
        border-radius: 10px;
        padding: 2px 3px;
      }
      h4 {
        font-size: 18px;
        font-weight: 700;
        padding: 15px 0;
        margin: 0;
      }
      a {
        font-size: 16px;
        font-weight: 700;
        color: #938f99;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 1.5px;
          left: 0;
          bottom: 1px;
          background-color: #938f99;
        }
      }
    }
  }
}

// for-mobile

.category-mobile-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .category-mbile {
    display: flex;
    background-color: $white;
    gap: 18px;
    border-radius: 15px;
    padding: 15px;
    img {
      width: 110px;
      height: 110px;
      border-radius: 10px;
    }
    .content {
      span {
        font-size: 16px;
        font-weight: 500;
        box-shadow: 0px 4px 4px 0px #00000040;
        border-radius: 10px;
        padding: 2px 3px;
        @media screen and (max-width: 375px) {
          font-size: 12px;
          padding: 4px 8px;
        }
      }
      h4 {
        @include fontstyle(18px, 700, $black);
        padding-top: 10px;
        @media screen and (max-width: 375px) {
          font-size: 13px;
          margin: 0;
          padding-top: 14px;
          padding-bottom: 10px;
        }
      }
      a {
        font-size: 16px;
        font-weight: 700;
        color: #938f99;
        position: relative;
        @media screen and (max-width: 375px) {
          font-size: 13px;
        }
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 1.5px;
          left: 0;
          bottom: 1px;
          background-color: #938f99;
          @media screen and (max-width: 375px) {
            height: 0.5px;
          }
        }
      }
    }
  }
}
