.hero {
  padding: 0 50px;
  background-image: url("/hero-bg.png");
  background-size: cover;
  height: 1020px;
  background-position: center;
  position: relative;
  .hero-content {
    text-align: center;
    width: 630px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 45px;
    p {
      @include fontstyle(20px, 700, $white);
      margin: 0;
      width: 440px;
    }
    input {
      padding: 12px 20px;
      border-radius: 20px;
      margin: 25px 0;
      &::placeholder {
        @include fontstyle(18px, 700, rgba(0, 0, 0, 0.6));
      }
    }
    button {
      @include fontstyle(16px, 500, $black);
      background-color: $primary;
      padding: 10px 30px;
      border-radius: 25px;
      border: none;
      outline: none;
    }
  }
}

// Awards

.events {
  margin: 45px 0;
  h2 {
    @include fontstyle(80px, 400, $secondary);
    text-transform: uppercase;
    font-family: $font-staat;
    letter-spacing: 2.5px;
    text-align: center;
    margin: 0;
  }
  .category-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 115px;
    column-gap: 40px;
    margin-bottom: 100px;
    margin-top: 45px;
    height: auto;
    .category {
      position: relative;
      img {
        width: 100%;
        height: 330px;
        object-fit: cover;
        border-radius: 30px;
      }
      .content {
        background-color: $white;
        color: $black;
        padding: 20px 30px;
        border-radius: 30px;
        position: absolute;
        top: 220px;
        span {
          font-size: 16px;
          font-weight: 500;
          box-shadow: 0px 4px 4px 0px #00000040;
          border-radius: 10px;
          padding: 2px 3px;
        }
        h4 {
          font-size: 18px;
          font-weight: 700;
          padding: 15px 0;
          margin: 0;
        }
        a {
          font-size: 16px;
          font-weight: 700;
          color: #938f99;
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1.5px;
            left: 0;
            bottom: 1px;
            background-color: #938f99;
          }
        }
      }
    }
  }
}

// quota

.quota-section {
  padding: 60px 0 90px 0;
  text-align: center;
  background-image: url("/count-bg.png");
  background-position: center;
  background-size: cover;
  margin-top: 140px;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      padding: 0 50px;
      h2 {
        @include fontstyle(120px, 400, $white);
        line-height: 130px;
        letter-spacing: 2.5px;
        font-family: "Staatliches", sans-serif;
        margin-bottom: 0;
      }

      h4 {
        @include fontstyle(60px, 300, $white);
        line-height: 75px;
        letter-spacing: 2.5px;
        font-family: "Staatliches", sans-serif;
      }
    }
  }

  button {
    @include fontstyle(70px, 400, $black);
    font-family: $font-staat;
    letter-spacing: 2.5px;
    background-color: $primary;
    border: none;
    padding: 15px 270px;
    border-radius: 30px;
    margin-top: 45px;
  }
}

// registrations
.registration-dates {
  background-image: url("/events/registration-bg.png");
  height: 100%;
  width: 100%;
  padding: 120px 0 60px 0;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.9444152661064426) 47%,
      rgba(0, 0, 0, 0.6923144257703081) 83%,
      rgba(0, 0, 0, 0.5606617647058824) 98%
    );
  }
  .content {
    position: relative;
    z-index: 10;
    h2 {
      @include fontstyle(70px, 400, $white);
      font-family: $font-staat;
      letter-spacing: 2.5px;
      span {
        color: $primary;
      }
    }
    h1 {
      @include fontstyle(85px, 400, $white);
      font-family: $font-staat;
      letter-spacing: 2.5px;
      margin-top: 70px;
      span {
        color: $primary;
      }
    }

    .btns {
      display: flex;
      justify-content: space-between;
      max-width: 60%;
      padding-top: 80px;
      margin: auto;
      .right-btn {
        @include fontstyle(24px, 500, $black);
        background-color: $primary;
        width: 217px;
        height: 62px;
        border-radius: 100px;
        border: none;
      }
      .left-btn {
        @include fontstyle(24px, 500, $primary);
        background-color: transparent;
        width: 217px;
        height: 62px;
        border-radius: 100px;
        border: 1px solid #938f99;
      }
    }
  }
}
