.hero {
  padding: 0 50px;
  background-image: url("/hero-bg.png");
  background-size: cover;
  height: 1020px;
  background-position: center;
  position: relative;

  @media screen and (max-width: 768px) {
    padding: 0 10px;
    background-image: url("/events/mob-hero.png");
    height: 70vh;
  }

  .hero-content {
    text-align: center;
    width: 630px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 45px;

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    p {
      @include fontstyle(20px, 700, $white);
      margin: 0;
      width: 440px;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    input {
      padding: 12px 20px;
      border-radius: 20px;
      margin: 25px 0;

      &::placeholder {
        @include fontstyle(18px, 700, rgba(0, 0, 0, 0.6));
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    button {
      @include fontstyle(16px, 500, $black);
      background-color: $primary;
      padding: 10px 30px;
      border-radius: 25px;
      border: none;
      outline: none;

      @media screen and (max-width: 768px) {
        font-size: 20px;
        font-weight: 600;
        color: #1c1c1c;
        background-color: #ffb202;
        padding: 20px 45px;
        border-radius: 30px;
        border: none;
        outline: none;
        margin-bottom: 35px;
      }
    }
  }
}

// Awards

.events {
  margin: 45px 0;

  h2 {
    @include fontstyle(80px, 400, $secondary);
    text-transform: uppercase;
    font-family: $font-staat;
    letter-spacing: 2.5px;
    text-align: center;
    margin: 0;
    @media screen and (max-width: 576px) {
      font-size: 45px;
      padding-bottom: 24px;
    }
  }

  .category-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 115px;
    column-gap: 40px;
    margin-bottom: 100px;
    margin-top: 45px;
    height: auto;

    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 968px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 576px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .category {
      position: relative;

      img {
        width: 100%;
        height: 330px;
        object-fit: cover;
        border-radius: 30px;
      }

      .content {
        background-color: $white;
        color: $black;
        padding: 20px 30px;
        border-radius: 30px;
        position: absolute;
        top: 220px;

        span {
          font-size: 16px;
          font-weight: 500;
          box-shadow: 0px 4px 4px 0px #00000040;
          border-radius: 10px;
          padding: 2px 3px;
        }

        h4 {
          font-size: 18px;
          font-weight: 700;
          padding: 15px 0;
          margin: 0;
        }

        a {
          font-size: 16px;
          font-weight: 700;
          color: #938f99;

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1.5px;
            left: 0;
            bottom: 1px;
            background-color: #938f99;
          }
        }
      }
    }
  }

  .category-mobile-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .category-mobile {
      display: flex;
      background-color: $white;
      gap: 18px;
      border-radius: 15px;
      padding: 15px;
      img {
        width: 110px;
        height: 110px;
        border-radius: 10px;
      }
      .content {
        span {
          font-size: 16px;
          font-weight: 500;
          box-shadow: 0px 4px 4px 0px #00000040;
          border-radius: 10px;
          padding: 2px 3px;
          @media screen and (max-width: 375px) {
            font-size: 12px;
            padding: 4px 8px;
          }
        }
        h4 {
          @include fontstyle(18px, 700, $black);
          padding-top: 10px;
          @media screen and (max-width: 375px) {
            font-size: 13px;
            margin: 0;
            padding-top: 14px;
            padding-bottom: 10px;
          }
        }
        a {
          font-size: 16px;
          font-weight: 700;
          color: #938f99;
          position: relative;
          @media screen and (max-width: 375px) {
            font-size: 13px;
          }
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1.5px;
            left: 0;
            bottom: 1px;
            background-color: #938f99;
            @media screen and (max-width: 375px) {
              height: 0.5px;
            }
          }
        }
      }
    }
  }
}

// quota

.quota-section {
  padding: 60px 0 90px 0;
  text-align: center;
  background-image: url("/count-bg.png");
  background-position: center;
  background-size: cover;
  margin-top: 140px;
  @media screen and (max-width: 576px) {
    background-image: url("/events/mob-awards.png");
    margin-top: -29px;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      padding: 0 50px;
      @media screen and (max-width: 968px) {
        padding: 0 35px;
      }
      @media screen and (max-width: 576px) {
        padding: 0 12px;
      }

      h2 {
        @include fontstyle(120px, 400, $white);
        line-height: 130px;
        letter-spacing: 2.5px;
        font-family: "Staatliches", sans-serif;
        margin-bottom: 0;
        @media screen and (max-width: 1200px) {
          font-size: 80px;
        }
        @media screen and (max-width: 768px) {
          font-size: 60px;
          line-height: 50px;
        }
        @media screen and (max-width: 576px) {
          font-size: 55px;
          line-height: 50px;
        }
      }

      h4 {
        @include fontstyle(60px, 300, $white);
        line-height: 75px;
        letter-spacing: 2.5px;
        font-family: "Staatliches", sans-serif;
        @media screen and (max-width: 1200px) {
          font-size: 35px;
        }
        @media screen and (max-width: 768px) {
          font-size: 24px;
        }
        @media screen and (max-width: 576px) {
          font-size: 18px;
        }
      }
    }
  }

  button {
    @include fontstyle(70px, 400, $black);
    font-family: $font-staat;
    letter-spacing: 2.5px;
    background-color: $primary;
    border: none;
    padding: 15px 270px;
    border-radius: 30px;
    margin-top: 45px;
    @media screen and (max-width: 968px) {
      font-size: 35px;
      padding: 15px 50px;
    }
    @media screen and (max-width: 576px) {
      font-size: 20px;
      padding: 8px 32px;
      border-radius: 15px;
      margin-top: 5px;
    }
  }
}

// registrations
.registration-dates {
  background-image: url("/events/registration-bg.png");
  height: 100%;
  padding: 120px 0 60px 0;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (max-width: 576px) {
    padding: 22px 0 60px 0;
  }

  &::after {
    content: "";
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // background: rgb(0, 0, 0);
    // background: linear-gradient(90deg,
    //     rgba(0, 0, 0, 0.9444152661064426) 47%,
    //     rgba(0, 0, 0, 0.6923144257703081) 83%,
    //     rgba(0, 0, 0, 0.5606617647058824) 98%);
  }

  .content {
    position: relative;
    z-index: 10;
    @media screen and (max-width: 576px) {
      padding-left: 12px;
    }

    h2 {
      @include fontstyle(70px, 400, $white);
      font-family: $font-staat;
      letter-spacing: 2.5px;

      @media screen and (max-width: 576px) {
        font-size: 48px;
      }
      @media screen and (max-width: 375px) {
        font-size: 32px;
      }

      span {
        color: $primary;
      }
    }

    h1 {
      @include fontstyle(85px, 400, $white);
      font-family: $font-staat;
      letter-spacing: 2.5px;
      margin-top: 70px;

      @media screen and (max-width: 576px) {
        font-size: 60px;
      }
      @media screen and (max-width: 375px) {
        font-size: 40px;
        margin-top: 50px;
      }

      span {
        color: $secondary;
      }
    }
  }
  .btns {
    display: flex;
    justify-content: space-between;
    max-width: 60%;
    padding-top: 80px;
    margin: auto;

    @media screen and (max-width: 576px) {
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      padding-top: 46px;
    }

    .right-btn {
      @include fontstyle(24px, 500, $black);
      background-color: $primary;
      width: 242px;
      height: 62px;
      border-radius: 100px;
      border: none;
      margin: auto;
      @media screen and (max-width: 576px) {
        font-size: 18px;
        font-weight: 400;
        width: 198px;
      }
    }

    .left-btn {
      @include fontstyle(24px, 500, $primary);
      background-color: transparent;
      width: 242px;
      height: 62px;
      margin: auto;
      border-radius: 100px;
      border: 1px solid #938f99;
      @media screen and (max-width: 576px) {
        font-size: 18px;
        font-weight: 400;
        width: 198px;
      }
    }
  }
}
