.gallery-slider {
  padding: 40px 0;
  h2 {
    @include fontstyle(80px, 500, $secondary);
    text-align: center;
    font-family: $font-staat;
    letter-spacing: 2.5px;
    margin: 0;
  }
  p {
    @include fontstyle(42px, 700, $white);
    text-align: center;
    margin: 0;
    padding-bottom: 40px;
  }

  .img {
    margin-bottom: 100px;
  }

  .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-image img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .thumbnail-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 5px;
  }

  .thumbnail {
    width: 150px;
    height: 150px;
    padding: 5px;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
  }

  .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out; /* Add smooth zoom-in effect */
  }

  .thumbnail.active img {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Add a shadow for emphasis */
  }

  .thumbnail:hover img {
    transform: scale(1.1);
  }
}
