.auth-section {
  padding: 50px 0;
  background-image: url("/auth/auth-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  h3 {
    @include fontstyle(40px, 400, $white);
    letter-spacing: 1.5px;
    font-family: "Staatliches", sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .auth-img {
    border-radius: 16px;
    height: 800px;
    object-fit: cover;
  }
}
