.registration {
  background-image: url("/registrationPage-bg.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  padding: 60px 0 70px 0;
  h1 {
    @include fontstyle(80px, 400, $secondary);
    font-family: $font-staat;
    letter-spacing: 2.5px;
    text-align: center;
  }
  .full-name-address-fields,
  .birthday-fields,
  .select-boxes {
    background-color: $black;
    margin: 40px auto;
    padding: 30px 20px;
    border-radius: 30px;
    width: 70%;
    input {
      width: 80%;
      margin: 20px auto;
    }
    .ant-select {
      width: 80% !important;
      height: 46px;
      margin: 20px auto !important;
      display: flex !important;
      .ant-select-selector {
        border-radius: 10px !important;
        .ant-select-selection-search-input {
          background: red !important;
          &::placeholder {
            color: red !important;
          }
        }
      }
    }
    textarea {
      min-height: 205px;
      width: 80%;
      display: flex;
      margin: auto;
      border-radius: 30px;
      padding: 20px;
      &::placeholder {
        font-weight: 600;
        color: $black;
      }
    }
  }

  .btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 20px;
    .checkbox {
      display: flex;
      align-items: center;
      gap: 10px;
      a {
        color: $primary;
      }
    }
    button {
      width: 452px;
      border-radius: 40px;
      &:nth-child(3) {
        background-color: #5f5338;
      }
    }
  }
}
