.score-page {
  background-image: url("/scorePage-bg.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  padding: 60px 0 40px 0;
  h1 {
    @include fontstyle(80px, 400, $secondary);
    font-family: $font-staat;
    letter-spacing: 2.5px;
    text-align: center;
  }
  button {
    padding: 14px 30px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    margin: auto;
  }
}

.custom-table {
  width: 60%;
  margin: 60px 0 20px 0;
  margin: 60px auto;
  font-size: 16px;
  text-align: left;
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
}

.custom-table th,
.custom-table td {
  padding: 12px 15px;
}

.custom-table thead th {
  color: #ffa500;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 1px solid $white;
}

.custom-table thead th {
  &:nth-child(1) {
    border-right: 1px solid $white;
  }
  &:nth-child(2) {
    color: $white;
  }
}

.custom-table tbody tr {
  border-bottom: 1px solid $white;
}
.custom-table tbody td {
  font-size: 16px;
  font-weight: 500;
  &:nth-child(1) {
    border-right: 1px solid $white;
  }
}

.custom-table tbody tr:last-of-type {
  border-bottom: 1px solid $white;
}
